
<table class="table table-bordered table-striped table-hover mb-2" id="item-{{ item.id }}" style="font-size:0.7rem; border: 2px solid blue;">
    {% if job %}
        <thead class="thead-light">
            <tr>
                <th colspan="7" class="text-danger fs-5">GRUP KODU</th>
                <th colspan="7" class="text-danger fs-5">TAKİP EDEN</th>
                <th colspan="7" class="text-danger fs-5">OLUŞTURAN</th>
                <th colspan="7" class="text-danger fs-5">TARİH</th>
                <th colspan="2" class="text-danger fs-5">İŞLEM</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7" class="text-danger fs-5">{{ item.day.operation.ticket|upper|default:"----" }}</td>
                <td colspan="7" class="text-danger fs-5">{{ item.day.operation.follow_staff|upper|default:"----" }}</td>
                <td colspan="7" class="text-danger fs-5">{{ item.day.operation.selling_staff|upper|default:"----" }}</td>
                <td colspan="7" class="text-danger fs-5">{{ item.day.date|date:"d.m.Y" }}</td>
                <td colspan="2">
                    <a class="btn btn-sm btn-primary me-2" href="{% url 'tour:operation_detail' item.day.operation.id %}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://wa.me/905304874388?text=
Grup%20Kodu:%20{{ item.day.operation.ticket }}%0A
Tarih:%20{{ item.day.date|date:'d.m.Y' }}{% if item.operation_type %}%0A
İşlem%20Turu:%20{{ item.operation_type|upper }}{% endif %}{% if item.day.operation.passenger_info|upper %}%0A
Yolcu%20Bilgileri:%20{{ item.day.operation.passenger_info|upper }}{% endif %}{% if item.description|upper %}%0A
Açıklama:%20{{ item.description|upper }}{% endif %}{% if item.tour %}%0A
Tur:%20{{ item.tour|upper }}{% endif %}{% if item.transfer %}%0A
Transfer:%20{{ item.transfer|upper }}{% endif %}{% if item.pick_time %}%0A
Alış%20Saati:%20{{ item.pick_time|time:'H:i' }}{% endif %}{% if item.release_location %}%0A
Bırakma%20Yeri:%20{{ item.release_location|upper }}{% endif %}{% if item.pick_location %}%0A
Alış%20Yeri:%20{{ item.pick_location|upper }}{% endif %}{% if item.vehicle %}%0A
Araç:%20{{ item.vehicle|upper }}{% endif %}{% if item.hotel %}%0A
Otel:%20{{ item.hotel|upper }}{% endif %}{% with museums=item.new_museum.all %}{% if museums.exists %}%0A
Müzeler:%20{% for museum in museums %}{{ forloop.counter }})%20{{ museum.name|upper }}{% if not forloop.last %},%20{% endif %}{% endfor %}{% endif %}{% endwith %}{% if item.guide %}%0A
Rehber:%20{{ item.guide|upper }}{% endif %}">
        <i class="bi bi-whatsapp"></i>
    </a>
                </td>
            </tr>
        </tbody>
    {% endif %}
    {% if item.files.all %}
        <thead class="thead-light">
            <tr>
                <th colspan="28">DOSYALAR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for file in item.files.all %}
                    <td colspan="5"><a href="{{ file.file.url }}" target="_blank" class="btn btn-sm btn-primary">{{forloop.counter}} {{ file.file_type }}</a></td>
                {% endfor %}
            </tr>
        </tbody>
    {% endif %}
    <thead class="thead-light">
        <tr>
            <th colspan="28">TUR AÇIKLAMASI</th>
            <th colspan="2" class="text-center d-flex gap-2">
                <button type="button" hx-get="{% url 'tour:operationitemfile_create' item.id %}" hx-target="#item-{{ item.id }}" hx-swap="outerHTML" class="btn btn-sm btn-primary" title="Dosya Ekle">
                    <i class="bi bi-file-earmark-plus"></i>
                </button>
                <button type="button" hx-get="{% url 'tour:operationitem_edit' item.id %}" hx-target="#item-{{ item.id }}" hx-swap="outerHTML" class="btn btn-sm btn-primary" title="Düzenle">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-sm btn-danger" title="Sil">
                    <i class="bi bi-trash"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody class="">
        <tr>
            <td colspan="30">{{ item.description|upper|default:"----" }}</td>
        </tr>
    </tbody>
    <thead class="thead-light">
        <tr>
            <th>İŞLEM TÜRÜ</th>
            <th>ALIŞ SAATI</th>
            <th>BIRAKIŞ SAATI</th>
            <th colspan="2">ALIŞ YERİ</th>
            <th colspan="2">BIRAKIŞ YERİ</th>

            <th colspan="2">TUR</th>
            <th colspan="2">TRANSFER</th>
            <th>ARAÇ</th>
            <th colspan="2">ARAÇ TEDARİKÇİ</th>

            <th colspan="2">OTEL</th>
            <th>ODA TÜRÜ</th>


            <th>AKTİVİTE</th>
            <th colspan="2">AKTİVİTE TEDARİKÇİ</th>

            <th colspan="2">MÜZER</th>

            <th colspan="2">REHBER</th>
            <th colspan="2">ŞOFÖR</th>
            <th colspan="2">ŞOFÖR TELEFON</th>
            <th colspan="2">PLAKA</th>

        </tr>
    </thead>
    <tbody>
        {% comment %} Transfer tipi için zorunlu alanları kontrol et {% endcomment %}

        <tr>
            <td>{{ item.operation_type|upper }}</td>
            {% comment %} Alış Saati: Birçok işlem türü için zorunlu {% endcomment %}
            <td {% if not item.pick_time and item.operation_type == 'Transfer' or not item.pick_time and item.operation_type == 'Tur' or not item.pick_time and item.operation_type == 'TurTransfer' or not item.pick_time and item.operation_type == 'TransferTur' %}class="bg-danger text-white"{% endif %}>
                {{ item.pick_time|time:"H:i" }}
            </td>
            <td>{{ item.release_time|upper|time:"H:i" }}</td>
            {% comment %} Alış Yeri: Transfer için zorunlu {% endcomment %}
            <td colspan="2" {% if not item.pick_location and item.operation_type == 'Transfer' or not item.pick_location and item.operation_type == 'Tur' or not item.pick_location and item.operation_type == 'TurTransfer' or not item.pick_location and item.operation_type == 'TransferTur' %}class="bg-danger text-white"{% endif %}>
                {{ item.pick_location|upper }}
            </td>
            <td colspan="2">{{ item.release_location|upper }}</td>

            <td colspan="2" {% if not item.tour and item.operation_type == 'Tur' or not item.tour and item.operation_type == 'TurTransfer' or not item.tour and item.operation_type == 'TransferTur' %}class="bg-danger text-white"{% endif %}>
                {{ item.tour|upper|default:"---" }}
            </td>
            {% comment %} Transfer: Transfer için zorunlu {% endcomment %}
            <td colspan="2" {% if item.operation_type == 'Transfer' and not item.transfer %}class="bg-danger text-white"{% endif %}>
                {{ item.transfer|upper|default:"----" }}
            </td>
            {% comment %} Araç: Transfer için zorunlu {% endcomment %}
            <td {% if not item.vehicle and item.operation_type == 'Transfer' or not item.vehicle and item.operation_type == 'Tur' or not item.vehicle and item.operation_type == 'TurTransfer' or not item.vehicle and item.operation_type == 'TransferTur' %}class="bg-danger text-white"{% endif %}>
                {{ item.vehicle|upper|default:"----" }}
            </td>
            {% comment %} Araç Tedarikçi: Transfer için zorunlu {% endcomment %}
            <td colspan="2" {% if not item.supplier and item.operation_type == 'Transfer' or not item.supplier and item.operation_type == 'Tur' or not item.supplier and item.operation_type == 'TurTransfer' or not item.supplier and item.operation_type == 'TransferTur' %}class="bg-danger text-white"{% endif %}>
                {{ item.supplier|upper|default:"----" }}
            </td>

            {% comment %} Otel: Hotel_payment=Yes ise zorunlu {% endcomment %}
            <td colspan="2" {% if item.hotel_payment == 'Yes' and not item.hotel %}class="bg-danger text-white"{% endif %}>
                {{ item.hotel|upper|default:"----" }}
            </td>
            {% comment %} Oda Türü: Hotel_payment=Yes ise zorunlu {% endcomment %}
            <td {% if item.hotel_payment == 'Yes' and not item.room_type %}class="bg-danger text-white"{% endif %}>
                {{ item.get_room_type_display|upper }}
            </td>

            <td {% if item.activity_payment == 'Yes' and not item.activity %}class="bg-danger text-white"{% endif %}>
                {{ item.activity|upper|default:"----" }}
            </td>
            <td colspan="2" {% if item.activity_payment == 'Yes' and not item.activity_supplier %}class="bg-danger text-white"{% endif %}>
                {{ item.activity_supplier|upper|default:"----" }}
            </td>
            <td colspan="2" {% if item.museum_payment == 'Yes' and not item.new_museum.all %}class="bg-danger text-white"{% endif %}>
                {% if item.new_museum.all %}
                    {% for museum in item.new_museum.all %}
                        {{ forloop.counter }} {{ museum.name|upper }}{% if not forloop.last %}, {% endif %}<br>
                    {% endfor %}
                {% else %}
                    ----
                {% endif %}
            </td>
            {% comment %} Rehber: guide_var=Yes ise zorunlu {% endcomment %}
            <td colspan="2" {% if item.guide_var == 'Yes' and not item.guide %}class="bg-danger text-white"{% endif %}>
                {{ item.guide|upper|default:"----" }}
            </td>
            {% comment %} Şoför: Transfer için zorunlu {% endcomment %}
            <td colspan="2" {% if item.operation_type == 'Transfer' and not item.driver or item.operation_type == 'Tur' and not item.driver or item.operation_type == 'TurTransfer' and not item.driver or item.operation_type == 'TransferTur' and not item.driver %}class="bg-danger text-white"{% endif %}>
                {{ item.driver|upper|default:"----" }}
            </td>
            {% comment %} Şoför Telefon: Transfer için zorunlu {% endcomment %}
            <td colspan="2" {% if item.operation_type == 'Transfer' and not item.driver_phone or item.operation_type == 'Tur' and not item.driver_phone or item.operation_type == 'TurTransfer' and not item.driver_phone or item.operation_type == 'TransferTur' and not item.driver_phone %}class="bg-danger text-white"{% endif %}>
                {{ item.driver_phone|upper|default:"----" }}
            </td>
            {% comment %} Plaka: Transfer için zorunlu {% endcomment %}
            <td colspan="2" {% if item.operation_type == 'Transfer' and not item.plaka or item.operation_type == 'Tur' and not item.plaka or item.operation_type == 'TurTransfer' and not item.plaka or item.operation_type == 'TransferTur' and not item.plaka %}class="bg-danger text-white"{% endif %}>
                {{ item.plaka|upper|default:"----" }}
            </td>
        </tr>

    </tbody>
        <thead class="thead-light print_dnone">
        <tr>
                <th colspan="3">OTEL ÜCRETLERİ</th>
                <th colspan="3">REHBER ÜCRETLERİ</th>
                <th colspan="3">AKTİVİTE ÜCRETLERİ</th>
                <th colspan="3">MÜZER ÜCRETLERİ</th>
                <th colspan="2">DİĞER ÜCRETLER</th>
                <th colspan="2">ARAÇ ÜCRETLERİ</th>
                <th colspan="2">TOPLAM MALİYET (USD)</th>
                <th colspan="2">TOPLAM MALİYET (EUR)</th>
                <th colspan="2">Toplam Maliyet (TL)</th>
                <th colspan="2">Toplam Maliyet (RBM)</th>
                <th colspan="2">Otel Ödemesi Bizde</th>
                <th colspan="2">Aktivite Ödemesi Bizde</th>
                <th colspan="2">Müze Ödemesi Bizde</th>

            </tr>
        </thead>

        <tbody class=" print_dnone">
            <tr>
                {% if hotel_price != 0 and hotel_price != 0.00 %}
                    {% comment %} Otel Ücreti: hotel_payment=Yes ise zorunlu {% endcomment %}
                    <td colspan="3" {% if item.hotel_payment == 'Yes' and not item.hotel_price %}class="bg-danger text-white"{% endif %}>
                        {{ item.hotel_price|upper }} {{ item.hotel_currency|upper }}
                    </td>
                {% else %}
                    <td colspan="3" {% if item.hotel_payment == 'Yes' %}class="bg-danger text-white"{% endif %}>----</td>
                {% endif %}
                {% if guide_price != 0 %}
                    {% comment %} Rehber Ücreti: guide_var=Yes ise zorunlu {% endcomment %}
                    <td colspan="3" {% if item.guide_var == 'Yes' and not item.guide_price %}class="bg-danger text-white"{% endif %}>
                        {{ item.guide_price|upper }} {{ item.guide_currency|upper }}
                    </td>
                {% else %}
                    <td colspan="3" {% if item.guide_var == 'Yes' %}class="bg-danger text-white"{% endif %}>----</td>
                {% endif %}
                {% if activity_price != 0 %}
                    <td colspan="3">{{ item.activity_price|upper }} {{ item.activity_currency|upper }}</td>
                {% else %}
                    <td colspan="3">----</td>
                {% endif %}
                {% if museum_price != 0 %}
                    <td colspan="3">{{ item.museum_price|upper }} {{ item.museum_currency|upper }}</td>
                {% else %}
                    <td colspan="3">----</td>
                {% endif %}
                {% if other_price != 0 %}
                    <td colspan="2">{{ item.other_price|upper }} {{ item.other_currency|upper }}</td>
                {% else %}
                    <td colspan="2">----</td>
                {% endif %}
                {% if vehicle_price != 0 %}
                    {% comment %} Araç Ücreti: Transfer için zorunlu {% endcomment %}
                    <td colspan="2" {% if item.operation_type == 'Transfer' and not item.vehicle_price %}class="bg-danger text-white"{% endif %}>
                        {{ item.vehicle_price|upper }} {{ item.vehicle_currency|upper }}
                    </td>
                {% else %}
                    <td colspan="2" {% if item.operation_type == 'Transfer' %}class="bg-danger text-white"{% endif %}>----</td>
                {% endif %}
                <td colspan="2">{{ item.usd_cost_price|upper }} </td>
                <td colspan="2">{{ item.eur_cost_price|upper }} </td>
                <td colspan="2">{{ item.tl_cost_price|upper }} </td>
                <td colspan="2">{{ item.rmb_cost_price|upper }} </td>
                <td colspan="2">{{ item.hotel_payment|upper }} </td>
                <td colspan="2">{{ item.activity_payment|upper }} </td>
                <td colspan="2">{{ item.museum_payment|upper }} </td>
            </tr>
        </tbody>

</table>